<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="EUC-KR" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Taco Cloud</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
  </head>
  <body>
    <form method="POST" th:action="@{/orders}" th:object="${orders}">
      <h1>Order your taco creations!</h1>

      <imag th:src="@{/images/TacoCloud.jpg}" />
      <a th:href="@{/design}" id="another">Design another taco</a><br />

      <div th:if="${#fields.hasErrors()}">
        <span class="validationError">
          Please correct the problem below and resubmit
        </span>
      </div>

      <h3>Deliver my taco masterpieces to...</h3>

      <label for="deliveryName">Name: </label>
      <input type="text" th:filed="*{deliveryName}" />
      <br />

      <label for="deliveryStreet">Street address: </label>
      <input type="text" th:filed="*{deliveryStreet}" />
      <br />

      <label for="deliveryCity">City: </label>
      <input type="text" th:filed="*{deliveryCity}" />
      <br />

      <label for="deliveryState">State: </label>
      <input type="text" th:filed="*{deliveryState}" />
      <br />

      <label for="deliveryZip">Zip code: </label>
      <input type="text" th:filed="*{deliveryZip}" />
      <br />

      <h3>Here's how I'll pay...</h3>
      <label for="ccNumber">Credit Card #: </label>
      <input type="text" th:filed="*{ccNumber}" />
      <br />
      <label for="ccExpiration">Expiration: </label>
      <input type="text" th:filed="*{ccExpiration}" />
      <br />

      <label for="ccCVV">CVV: </label>
      <input type="text" th:filed="*{ccCVV}" />
      <br />

      <input type="submit" value="Submit order" />
    </form>
  </body>
</html>
